.ing_control_box {
  display: flex;
  flex-direction: row;
  height: 40px;
  min-height: 40px;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
}
.first {
  background-color: rgb(255, 193, 122);
}
.second {
  background-color: rgb(255, 243, 232);
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  border-radius: 5px;
  width: 25px;
  border: 1px solid brown;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  border: 1px solid brown;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: 1px solid brown;
  background-color: #f37521;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border-radius: 720px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (max-width: 900px) {
  .ing_control_box {
    width: 50%;
  }
}
