.modal {
  width: 40%;
  height: fit-content;
  min-height: 280px;
  z-index: 500;
  position: fixed;
  display: flex;
  margin: auto;
  top: 27.5vh;
  left: 30%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #fff;
  box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.7);
  text-align: center;
  display: flex;
  transition-duration: 0.3s;
}
.modal_not_shown {
  transform: translateY(-100vh);
  opacity: 0;
}

@media screen and (max-width: 500px) {
  .modal {
    width: 70%;
    left: 15%;
  }
}
