.form_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  align-items: center;
  height: fit-content;
}
.form_container input {
  width: 80%;
  height: 30px;
  margin: 5px auto;
  outline: rgb(77, 77, 77);
}
.form_container .place_order {
  position: relative;
  top: 0px;
  height: 50px;
  min-height: 50px;
  font-size: 15px;
  width: 120px;
  background-color: rgb(184, 52, 4);
  color: rgb(255, 243, 232);
  font-weight: 500;
  border-radius: 10px;
  margin: 20px;
  border: transparent;
  cursor: pointer;
  outline: none;
}
.form_container .place_order:disabled {
  background-color: gray;
  cursor: default;
}
.form_container .place_order:hover {
  background-color: rgb(143, 38, 0);
}
.place_order:disabled:hover {
  background-color: rgb(94, 94, 94);
}

button.cancel {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
  color: rgb(119, 119, 119);
  font-weight: 400;
}
